:root {
  --primary-color: #007bff; /* Cambia a un azul más claro */
  --primary-hover: #3399ff; /* Cambia a un azul más suave para el hover */
  --background-color: #f9f9f9;
  --text-color: #333;
  --card-background: #ffffff;
  --border-color: #ddd;
  --accent-color: var(--primary-color);
  --hover-color: #e0e0e0;
  --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.retroseek {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-color);
}
